.container{
    margin-top:0;
    padding:0;
}
.navbar{
    display: flex;
    justify-content:space-between;
}
.nav-links{
    display:flex;
    gap:60px;
    font-size:15px;
    list-style: none;
    margin-top:20px;
}
.logo{
    font-size:15px;
}
.content{
    margin-top:30px;
}